
#display{
    display: flex;
    border: 1px solid #000;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    margin: 10px;
    padding: 10px;
}

.btnGroup{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    margin: 10px;
}

.drum-pad{
    flex-basis: calc(200px /3 - 20px);
    height: calc(200px /3 - 20px);
    margin: 10px;
}

#screen{
    margin: 10px auto;
    height: 40px;
    text-align: center;
    display: block;
}
